In [22]:
import requests
import pandas as pd
import json
import datetime

In [25]:
with open('data-all.json') as json_data:
    data = json.load(json_data)
    
with open('mapping.json') as json_data:
    mapping = json.load(json_data)

In [26]:
date_list=['2020-03-15', '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-21', '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31', '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04', '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09', '2020-04-10', '2020-04-11', '2020-04-12', '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16', '2020-04-17', '2020-04-18', '2020-04-19', '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23', '2020-04-24', '2020-04-25', '2020-04-26', '2020-04-27', '2020-04-28', '2020-04-29', '2020-04-30', '2020-05-01', '2020-05-02', '2020-05-03', '2020-05-04', '2020-05-05', '2020-05-06', '2020-05-07', '2020-05-08', '2020-05-09', '2020-05-10', '2020-05-11', '2020-05-12', '2020-05-13', '2020-05-14', '2020-05-15', '2020-05-16', '2020-05-17', '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21', '2020-05-22', '2020-05-23', '2020-05-24', '2020-05-25', '2020-05-26', '2020-05-27', '2020-05-28', '2020-05-29', '2020-05-30', '2020-05-31', '2020-06-01', '2020-06-02', '2020-06-03', '2020-06-04', '2020-06-05', '2020-06-06', '2020-06-07', '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11', '2020-06-12', '2020-06-13', '2020-06-14', '2020-06-15', '2020-06-16', '2020-06-17', '2020-06-18', '2020-06-19', '2020-06-20', '2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-27', '2020-06-28', '2020-06-29', '2020-06-30', '2020-07-01', '2020-07-02', '2020-07-03', '2020-07-04', '2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09', '2020-07-10', '2020-07-11', '2020-07-12', '2020-07-13', '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17', '2020-07-18', '2020-07-19', '2020-07-20', '2020-07-21', '2020-07-22', '2020-07-23', '2020-07-24', '2020-07-25', '2020-07-26', '2020-07-27', '2020-07-28', '2020-07-29', '2020-07-30', '2020-07-31', '2020-08-01', '2020-08-02', '2020-08-03', '2020-08-04', '2020-08-05', '2020-08-06', '2020-08-07', '2020-08-08', '2020-08-09', '2020-08-10', '2020-08-11', '2020-08-12', '2020-08-13', '2020-08-14', '2020-08-15', '2020-08-16', '2020-08-17', '2020-08-18', '2020-08-19', '2020-08-20', '2020-08-21', '2020-08-22', '2020-08-23', '2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27', '2020-08-28', '2020-08-29', '2020-08-30', '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04', '2020-09-05']

In [27]:
dist_name_list=mapping.keys()
dist_list = mapping.values()

In [28]:
df = pd.DataFrame(columns=date_list, index=dist_list)

In [29]:
remove = ["Khawzawl","Tirupathur","Saitual","Ranipet","Tenkasi","Yanam","Tenkasi","Hnahthial","Dibang Valley","Gaurela Pendra Marwahi","CAPF Personnel","Chengalpattu","Evacuees","Other State","Other Region","Others","Unknown","Italians","Airport Quarantine","BSF Camp","Foreign Evacuees","Railway Quarantine"]

In [30]:
states_list = ['AS','GA','NL','MN','SK','TG']
state_map=dict()
state_map['AS']="Assam_AS"
state_map['GA']="Goa_GA"
state_map['MN']="Manipur_MN"
state_map['NL']="Nagaland_NL"
state_map['SK']="Sikkim_SK"
state_map['TG']="Telangana_TN"

In [38]:
districts=list()
st=set()
count=0

for date in date_list:
    for state in data[date]:
        if state in states_list:
            if state=='NL':
                idx = mapping[state_map[state]]
                if "districts" in data[date][state].keys():
                    for district in data[date][state]['districts'].keys():
                        if district=='Others':
                            if "delta" in data[date][state]['districts'][district].keys():
                                if "confirmed" in data[date][state]['districts'][district]['delta'].keys():
                                    df[date][idx] = data[date][state]['districts'][district]['delta']['confirmed']
                                    count+=data[date][state]['districts'][district]['delta']['confirmed']
                                    
                            
            else:
                idx = mapping[state_map[state]]
                if "delta" in data[date][state].keys():
                    if "confirmed" in data[date][state]['delta']:
                        df[date][idx] = data[date][state]['delta']['confirmed']
                        count+=data[date][state]['delta']['confirmed']
                        
                    
        #print(state)
        if "districts" in data[date][state].keys():
            for district in data[date][state]['districts'].keys():
                if district not in remove:
                    dist_name=district+"_"+state
                    try:
                        idx = mapping[dist_name]
                        if "delta" in data[date][state]['districts'][district].keys():
                            
                            if "confirmed" in data[date][state]['districts'][district]['delta'].keys():
                                df[date][idx] = data[date][state]['districts'][district]['delta']['confirmed']
                                count+=data[date][state]['districts'][district]['delta']['confirmed']
                                
                                
                    except:
                        print(dist_name)

In [39]:
df=df.fillna(0)
count

4028356

In [10]:
df

,2020-03-15,2020-03-16,2020-03-17,2020-03-18,2020-03-19,2020-03-20,2020-03-21,2020-03-22,2020-03-23,2020-03-24,...,2020-08-27,2020-08-28,2020-08-29,2020-08-30,2020-08-31,2020-09-01,2020-09-02,2020-09-03,2020-09-04,2020-09-05
101,0,0,0,0,0,0,0,0,0,0,...,2,7,5,2,3,17,3,3,5,7
102,0,0,0,0,0,0,0,0,0,0,...,43,40,60,67,62,68,84,76,91,80
103,0,0,0,0,0,0,0,0,0,0,...,163,168,164,169,173,159,169,166,171,167
104,0,0,0,0,0,0,0,0,0,0,...,605,545,615,469,237,724,586,738,807,789
105,0,0,0,0,0,0,0,0,0,0,...,4,26,0,1,0,0,7,17,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,0,0,0,0,0,0,0,0,0,0,...,844,501,991,952,420,994,800,898,727,1039
725,0,0,0,0,0,0,0,0,0,0,...,112,66,98,67,122,142,106,112,94,138
726,0,0,0,0,0,0,0,0,0,0,...,81,81,87,85,60,83,95,92,90,73
727,0,0,0,0,0,0,0,0,0,0,...,117,103,117,95,37,159,120,174,200,139
728,0,0,0,0,0,0,0,0,0,0,...,0,2,0,2,0,0,0,0,0,0

In [11]:

week_list=set()

for i in date_list:
    i=i.split("-")
    x = datetime.datetime(int(i[0]),int(i[1][1]),int(i[2]))
    week_list.add(x.strftime("%U"))

week_list = list(week_list)
week_list.sort()
min_week_num=min(week_list)

newList = [int(x) - int(min_week_num)+1 for x in week_list]
week_list = newList

In [12]:
week_dict = {}
for idx in df.index.values:
    week_dict[idx] = {}
    for week_num in week_list:
        week_dict[idx][week_num] = 0

In [13]:
for idx in dist_list:
    for date in date_list:
        i=date
        i=i.split("-")
        x = datetime.datetime(int(i[0]),int(i[1][1]),int(i[2]))
        week_num = int(x.strftime("%U"))-int(min_week_num)+1
        
        week_dict[idx][week_num]+=df[date][idx]

In [14]:
f=open('cases-week.csv','a')
f.write("District_ID,Time_ID,Cases\n")
for idx in week_dict.keys():
    for week in week_dict[idx]:
        f.write(str(idx)+","+str(week)+","+str(week_dict[idx][week])+"\n")
                
f.close()

In [15]:
month_map=dict()
month_map['03']=1
month_map['04']=2
month_map['05']=3
month_map['06']=4
month_map['07']=5
month_map['08']=6
month_map['09']=7
month_list = month_map.keys()

In [16]:
month_dict = {}
for idx in df.index.values:
    month_dict[idx] = {}
    for month_num in month_list:
        month_dict[idx][month_map[month_num]] = 0

In [17]:
for idx in dist_list:
    for date in date_list:
        i=month_map[date.split("-")[1]]
        month_dict[idx][i]+=df[date][idx]

In [18]:
f=open('cases-month.csv','a')
f.write("District_ID,Time_ID,Cases\n")
for idx in month_dict.keys():
    for month in month_dict[idx]:
        f.write(str(idx)+","+str(month)+","+str(month_dict[idx][month])+"\n")
                
f.close()

In [19]:
overall_dict = {}
for idx in df.index.values:
    overall_dict[idx] = 0

In [20]:
for idx in dist_list:
    for date in date_list:
        overall_dict[idx]+=df[date][idx]

In [21]:
f=open('cases-overall.csv','a')
f.write("District_ID,Time_ID,Cases\n")
for idx in overall_dict.keys():
    f.write(str(idx)+",1,"+str(overall_dict[idx])+"\n")
                
f.close()